<section class="banner">
    <!-- <img src="assets/img/home_top_img.png"alt="alt da imagem"> -->

    <video autoplay muted loop class="bg_video">
        <!-- <source src="assets/videos/banner_video.webm" type="video/webm"> -->
        <source src="assets/videos/banner_video.mp4" type="video/mp4">
    </video>
</section>