<header class="main-header" id="header">

    <section class="main-menu container padding hidden-on-mobile shadow">
        <img src="assets/img/logo_vipal_azul.svg" alt="logo vipal">

        <nav>
            <ul>
                <li>
                    <a href="#">rede autorizada</a>
                </li>
                <li>
                    <a href="#">linha agro</a>
                </li>
                <li>
                    <a href="#">linha carga</a>
                </li>
                <li>
                    <a href="#">fale conosco</a>
                </li>
            </ul>
        </nav>
    </section>

    <section class="shadow hidden-on-desktop shadow">
        <div class="mobile-menu d-flex justify-content-between">
            <div class="btn-hamburger">
                <div class="btn-left"></div>
                <div class="btn-right"></div>
            </div>

            <div class="logo d-flex align-content-center justify-content-center">
                <img src="assets/img/logo_vipal_azul.svg" alt="logo vipal">
            </div>
        </div>
    </section>

    <div class="circle hidden-on-desktop"></div>

    <nav class="menu-items hidden-on-desktop">
        <ul class="shadow">
            <li>
                <a href="#">rede autorizada</a>
            </li>
            <li>
                <a href="#">linha agro</a>
            </li>
            <li>
                <a href="#">linha carga</a>
            </li>
            <li>
                <a href="#">fale conosco</a>
            </li>
        </ul>
    </nav>

</header>
