<section class="linha-agro container padding section-bottom-border">
    <div class="session-text">
        <h2 class="session-name blue">LINHA AGRO</h2>
        <h1 class="session-title blue">No campo, tempo é vital. E o melhor resultado, é Vipal.</h1>
        <span class="session-description blue">A produção no campo não pode parar. Conte com quem é garantia de resultado e performance em suas máquinas e implementos.</span>
    </div>

    <ul>
        <li class="shadow">
            <div class="text">
                <span>O melhor Camelback agrícola do mercado</span>

                <p>Camelback que recupera o volume da borracha como antes de desgastado pelo uso.</p>
            </div>

            <div class="img">
                <img src="assets/img/linha-agro-carmeback.png" alt="carmeback">
            </div>
        </li>
        <li class="shadow">
            <div class="text">
                <span>Identificação Vipal</span>

                <p>Pneus reformados pela Vipal Borrachas possuem um logo amarelo na parte externa da banda de rodagem. Tenha certeza de estar investindo na melhor reforma.</p>
            </div>

            <div class="img">
                <img src="assets/img/linha-agro-indentificacao.png" alt="indentificacao">
            </div>
        </li>
        <li class="shadow">
            <div class="text">
                <span>Aprenda a gerenciar seus pneus e diminua seus custos</span>

                <a href="#" class="button-arrow-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14">
                        <path fill="#64bee6" fill-rule="nonzero" d="M.293 12.293a1 1 0 0 0 1.414 1.414l6-6a1 1 0 0 0 0-1.414l-6-6A1 1 0 0 0 .293 1.707L5.586 7 .293 12.293z"/>
                    </svg>

                    <button class="text-uppercase">BAIXE O E-BOOK</button>
                </a>
            </div>

            <div class="img">
                <img src="assets/img/linha-agro-agricola.png" alt="agricola">
            </div>
        </li>
        <li class="shadow">
            <div class="text">
                <span>Menos gastos com combustível e mais ganhos em produção</span>

                <a href="#" class="button-arrow-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14">
                        <path fill="#64bee6" fill-rule="nonzero" d="M.293 12.293a1 1 0 0 0 1.414 1.414l6-6a1 1 0 0 0 0-1.414l-6-6A1 1 0 0 0 .293 1.707L5.586 7 .293 12.293z"/>
                    </svg>

                    <button class="text-uppercase">BAIXE O E-BOOK</button>
                </a>
            </div>

            <div class="img">
                <img src="assets/img/linha-agro-producao.png" alt="producao">
            </div>
        </li>

        <a href="#" class="button">entre em contato</a>
    </ul>
</section>