<section class="linha-carga container padding section-bottom-border">
    <div class="session-text">
        <h2 class="session-name blue">LINHA carga</h2>
        <h1 class="session-title blue">No campo, tempo é vital. E o melhor resultado, é Vipal.</h1>
        <span class="session-description blue">A produção no campo não pode parar. Conte com quem é garantia de resultado e performance em suas máquinas e implementos.</span>
    </div>

    <ul>
        <li class="shadow">
            <div class="text">
                <span>REFORMA QUALIFICADA E GARANTIDA</span>

                <p>O RQG é o mais abrangente programa de garantia em reforma de pneus do mercado. O único a garantir a reforma e a carcaça do pneu até a 3ª reforma, de 16 marcas.</p>
            </div>

            <div class="img">
                <img src="assets/img/linha-carga-reforma.png" alt="reforma">
            </div>
        </li>
        <li class="shadow">
            <div class="text">
                <span>Bandas Eco</span>

                <p>Composto de borracha de alta tecnologia que gera até 10% de economia de combustível nos seus veículos.</p>
            </div>

            <div class="img">
                <img src="assets/img/linha-carga-bandas-eco.png" alt="bandas eco">
            </div>
        </li>
        <li class="shadow">
            <div class="text">
                <span>Bandas Exclusivas Vipal</span>

                <p>A linha exclusiva de bandas pré-moldadas da Vipal é projetada para garantir o melhor desempenho para qualquer necessidade.</p>
            </div>

            <div class="img">
                <img src="assets/img/linha-carga-bandas-exclusivas.png" alt="bandas exclusivas">
            </div>
        </li>
        <li class="shadow">
            <div class="text">
                <span>Manchão Aramida</span>

                <p>5x mais resistente que o aço, o Manchão Aramida devolve as características originais do pneu porque é mais leve e flexível, interferindo menos no balanceamento.</p>
            </div>

            <div class="img">
                <img src="assets/img/linha-carga-manchao.jpg" alt="producao">
            </div>
        </li>

        <a href="#" class="button">entre em contato</a>
    </ul>
</section>