<section class="map">
    <div class="session-text">
        <h2 class="session-name blue">MAPA</h2>
        <h1 class="session-title blue">Encontre a reformadora mais próxima de você</h1>
    </div>

    <div class="filter-map">
        <div id="map" class="map-wrapper"></div>
            <div class="filter-wrapper">
            <div class="container padding no-padding-bottom">
                <div class="filter-select">
                    <div class="header-filter">
                        <span>Seja Agro, seja carga, estamos prontos e próximos para ajudar.</span>
                    </div>

                    <div class="radio-group">
                        <div class="radio checked">
                            <input type="radio" value="todos" id="all" class="radio-button all-filter" name="type">
                            <label for="all">Todos</label>
                        </div>
                        <div class="radio">
                            <input type="radio" checked class="radio-button" id="agro" value="agro" name="type">
                            <label for="agro">Agro</label>
                        </div>
                        <div class="radio">
                            <input type="radio" class="radio-button" id="carga" value="carga" name="type">
                            <label for="carga">Carga</label>
                        </div>

                    </div>

                    <div class="filters">
                        <div class="custom-select-filter dropdown">
                            <button class="btn dropdown-toggle" type="button" id="mapFilterType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="none">Todos</button>
                            <ul class="dropdown-menu" aria-labelledby="mapFilterType">
                                <li class="dropdown-item" value="all">Todos</li>
                                <!-- {{-- @foreach ($locations as $location)
                                    <li class="dropdown-item" value="{{$location->location}}">{{$location->location}}</li>
                                @endforeach --}} -->
                                <li class="dropdown-item" value="agro">Agro</li>
                                <li class="dropdown-item" value="carga">Carga</li>
                            </ul>
                        </div>

                        <div class="custom-select-filter dropdown">
                            <button class="btn dropdown-toggle" type="button" id="mapFilterCountry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="none">UF</button>
                            <ul class="dropdown-menu" aria-labelledby="mapFilterCountry">
                                <li class="dropdown-item" value="none">UF</li>
                                <!-- {{-- @foreach ($locations as $location)
                                    <li class="dropdown-item" value="{{$location->location}}">{{$location->location}}</li>
                                @endforeach --}} -->
                                <li class="dropdown-item" value="RS">RS</li>
                                <li class="dropdown-item" value="RJ">RJ</li>
                            </ul>
                        </div>

                        <div class="custom-select-filter dropdown">
                            <button class="btn dropdown-toggle" type="button" id="mapFilterCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="none">Cidade</button>
                            <ul class="dropdown-menu" aria-labelledby="mapFilterCity">
                                <li class="dropdown-item" value="none">Cidade</li>
                                <!-- {{-- @foreach ($locations as $location)
                                    <li class="dropdown-item" value="{{$location->location}}">{{$location->location}}</li>
                                @endforeach --}} -->
                                <li class="dropdown-item" value="Alvorada">Alvorada</li>
                                <li class="dropdown-item" value="Porto Alegre">Porto Alegre</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>