<section class="rede-autorizada container padding">
    <div class="session-text">
        <h2 class="session-name blue">REDE AUTORIZADA</h2>
        <h1 class="session-title blue">Vipal é mais que reforma. É parceria que garante resultados em agro e carga.
        </h1>
        <span class="session-description blue">Seja agro, seja carga, a Vipal é a melhor opção para aumentar os ganhos da sua propriedade. Desafie nossa equipe. Temos mais de 200 reformadores prontos para lhe atender.</span>
    </div>

    <ul>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-pneus.png" alt="pneus">
            </div>

            <span>Linha completa em produtos de reforma e reparos para pneus</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-trofeu.png" alt="pneus">
            </div>

            <span>Líder em reforma de pneus AGRO e CARGA</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-capacita.png" alt="pneus">
            </div>

            <span>Treinamentos e cursos para qualificar sua equipe</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-monitor.png" alt="pneus">
            </div>

            <span>Softwares e especialistas para melhorar a gestão de seus pneus</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-suporte-tecnico.png" alt="pneus">
            </div>

            <span>A maior equipe de campo para suporte técnico</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-fita.png" alt="pneus">
            </div>

            <span>Processo de reforma com padrão de qualidade Vipal</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-caminhao.png" alt="pneus">
            </div>

            <span>Rede com mais de 20 anos de tradição</span>
        </li>
        <li class="shadow">
            <div class="img">
                <img src="assets/img/rede-autorizada-km.png" alt="pneus">
            </div>

            <span>Garantia da melhor reforma e do melhor desempenho</span>
        </li>
    </ul>
</section>