.banner {

    video {
        height: pxToVw(600, 1920);
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 992px) {

        video {
            height: pxToVw(264, 375);
        }
    }
}