footer {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: pxToVw(57, 1920) pxToVw(100, 1920);

    span {
        font-family: Montserrat;
        font-size: pxToVw(12, 1920);
        font-weight: 300;
        color: $white;
        margin-right: pxToVw(60, 1920);

        b {
            font-family: OpenSans;
            font-weight: bold;
        }
    }

    @media (max-width: 992px) {
        flex-direction: column-reverse;
        padding: 0;

        span {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: $gray3;
            padding: pxToVw(20, 375);
            font-size: pxToVw(12, 375);

            b {
                margin-left: pxToVw(5, 375);
                font-size: pxToVw(12, 375);
            }
        }

        img {
            margin: pxToVw(29, 375) 0;
        }
    }
}