.main-header {

    .main-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        &.padding {
            padding: pxToVw(51, 1920) pxToVw(420, 1920);
        }

        img {
            width: pxToVw(154, 1920);
            margin-right: pxToVw(140, 1920);
        }

        nav {

            ul {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                height: pxToVw(20, 1920);

                li {
                    position: relative;
                    display: flex;

                    &:not(:last-child) {
                        margin-right: pxToVw(100, 1920);
                    }

                    &:hover {
                        a {
                            color: $quaternary-color;

                            &::before, &::after {
                                height: pxToVw(6, 1920);
                            }
                        }
                    }

                    &.active {
                        a {
                            color: $quaternary-color;

                            &::before, &::after {
                                height: pxToVw(6, 1920);
                            }
                        }
                    }

                    a {
                        text-transform: uppercase;
                        color: $tertiary-color;
                        font-size: pxToVw(14, 1920);
                        font-family: Montserrat;
                        font-weight: 700;
                        transition: color 0.3s ease-in-out;

                        &::before, &::after {
                            content: ' ';
                            position: absolute;
                            left: 0;
                            background-color: $quaternary-color;
                            height: 0;
                            width: 100%;
                            z-index: -1;
                            transition: all 0.3s ease-in-out;
                        }

                        &::before {
                            top: pxToVw(-65, 1920);
                            border-radius: 0 0 pxToVw(30, 1920) pxToVw(30, 1920);
                        }

                        &::after {
                            bottom: pxToVw(-65, 1920);
                            border-radius: pxToVw(30, 1920) pxToVw(30, 1920) 0 0;
                        }

                    }
                }
            }
        }

        &.fixed {
            position: fixed;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 19;
            width: 100%;
        }
    }

    @media (max-width: 992px) {

        .shadow {
            z-index: 4;
        }

        .mobile-menu {
            display: flex;
            justify-content: center;
            position: relative;
            margin: pxToVw(10, 375) pxToVw(20, 375);
            z-index: 4;

            .logo {
                margin-bottom: pxToVw(10, 375);

                img {
                    width: pxToVw(130, 375);
                }
            }
        }

        .menu-items {
            position: absolute;
            top: pxToVw(70, 375);
            width: 100%;
            z-index: 3;
            opacity: 0;
            pointer-events: none;

            ul {
                opacity: 0;
                background-color: $gray2;
                transition: all 0.3s ease-in-out;

                li {
                    transition: all 0.3s ease-in-out;
                    padding: pxToVw(20, 375) pxToVw(30, 375);
                    background-color: $gray2;
                    text-decoration: none;
                    position: relative;

                    a {
                        font-size: pxToVw(16, 375);
                        font-weight: bold;
                        color: $tertiary-color;
                        text-transform: uppercase;
                        padding: 0;
                        font-family: Montserrat;
                    }

                    &:not(:last-child):before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 90%;
                        margin: 0 auto;
                        border-bottom: pxToVw(1, 375) solid #d1d1d6;
                    }
                }
            }

            &.active {
                opacity: 1;
                pointer-events: all;

                ul {
                    opacity: 1;
                }
            }
        }
    }
}
