.linha-agro {

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: pxToVw(80, 1920);
        padding-bottom: pxToVw(107, 1920);
        position: relative;

        li {
            display: flex;
            align-items: center;
            width: 49%;
            margin-bottom: pxToVw(33, 1920);
            height: pxToVw(289, 1920);

            &:nth-child(2n-1) {
                margin-right: pxToVw(20, 1920);
            }

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: pxToVw(310, 1920);
                min-width: pxToVw(310, 1920);
                height: 100%;

                img {
                    width: 100%;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                padding: pxToVw(25, 1920) pxToVw(20, 1920);

                span {
                    font-family: Montserrat;
                    font-size: pxToVw(27, 1920);
                    font-weight: bold;
                    color: $tertiary-color;
                    text-transform: uppercase;
                    margin-bottom: pxToVw(20, 1920);
                }

                p {
                    font-family: Montserrat;
                    font-size: pxToVw(16, 1920);
                    line-height: 1.25;
                    color: $gray;
                }
            }
        }

        .button {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: pxToVw(420, 1920);
            height: pxToVw(60, 1920);
            background-color: $quaternary-color;
            color: $white;
            font-family: Montserrat;
            font-size: pxToVw(20, 1920);
            font-weight: bold;
            text-align: center;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }

    @media (max-width: 992px) {

        ul {
            flex-direction: column;
            margin: pxToVw(40, 375) pxToVw(22, 375) 0 pxToVw(22, 375);
            padding-bottom: pxToVw(87, 375);

            li {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
                height: 100%;
                margin-bottom: pxToVw(20, 375);

                &:nth-child(2n-1) {
                    margin-right: 0;
                }

                .img {
                    width: 100%;
                    min-width: 100%;
                    height: pxToVw(289, 375);
                    min-height: pxToVw(289, 375);

                    img {
                        width: auto;
                        height: 100%;
                    }
                }

                .text {
                    padding: pxToVw(25, 375) pxToVw(20, 375);

                    span {
                        font-size: pxToVw(27, 375);
                        margin-bottom: pxToVw(29, 375);
                    }

                    p {
                        font-size: pxToVw(16, 375);
                    }
                }
            }

            .button {
                width: 110%;
                height: pxToVw(60, 375);
                font-size: pxToVw(20, 375);
            }
        }
    }
}