.map {

    .filter-map {
        position: relative;

        .container{
            &.padding{
                padding-top: 0;
                margin-top: pxToVw(-80, 1920);
            }
        }

        #map {
            height: pxToVw(600, 1920);
            width: 100%;
            z-index: -1;
        }

        .filter-select {
            max-width: pxToVw(1080, 1920);
            width: 100%;
            height: auto;
            box-shadow: 0 3px 29px 0 rgba(59, 74, 116, 0.14);
            background-color: $white;
            margin: 0 auto;
            z-index: 2;

            .header-filter {
                width: 100%;
                padding: pxToVw(30, 1920) 0;
                background: $primary-color;

                span {
                    font-family: Montserrat;
                    font-size: pxToVw(16, 1920);
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    display: block;
                }
            }

            .radio-group {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: pxToVw(40, 1920);

                label{
                    font-family: Montserrat;
                    text-transform: uppercase;
                    font-size: pxToVw(16, 1920);
                    color: $gray;
                    padding-left: pxToVw(10, 1920);
                    margin-bottom: 0;
                }

                .radio {
                    margin: 0 pxToVw(25, 1920);
                    position: relative;

                    &.checked{
                        &:after{
                            display: block;
                        }
                    }

                    &:after{
                        content: '';
                        background: #64bee6;
                        display: none;
                        position: absolute;
                        left: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        border: 3.5px solid $white;
                        border-radius: 50%;
                        z-index: 1;
                        width: pxToVw(20, 1920);
                        height: pxToVw(20, 1920);
                    }

                    &:before{
                        content: '';
                        background: transparent;
                        display: block;
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        width: pxToVw(20, 1920);
                        height: pxToVw(20, 1920);
                        border: solid 1px $gray4;
                    }

                    .radio-button{
                        opacity: 0;
                        position: relative;
                        z-index: 3;
                    }
                }
            }

            .filters {
                display: flex;
                justify-content: space-between;
                padding: pxToVw(40, 1920) 0;
                margin: pxToVw(40, 1920) pxToVw(110, 1920) 0 pxToVw(110, 1920);
                border-top: 1px solid $gray4;

                .custom-select-filter {
                    flex: 1;

                    &:first-child {
                        display: none;
                    }

                    &:nth-child(3) {
                        flex: 0.7;
                        margin: 0 pxToVw(20, 1920);
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {

        .filter-map {

            #map {
                height: pxToVw(330, 375);
            }

            .filter-select {
                max-width: 100%;

                .header-filter {
                    padding: pxToVw(20, 375);

                    span {
                        font-size: pxToVw(16, 375);
                        text-transform: none;
                    }
                }

                .radio-group {
                    display: none;
                }

                .filters {
                    flex-wrap: wrap;
                    border-top: 0;

                    .custom-select-filter {

                        &:first-child {
                            display: flex;
                        }

                        &:nth-child(3) {
                            flex: 1;
                            margin: pxToVw(10, 375) 0;
                        }
                    }
                }
            }
        }
    }
}