.rede-autorizada {

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: pxToVw(37, 1920);

        li {
            display: flex;
            align-items: center;
            width: 49%;
            margin-bottom: pxToVw(20, 1920);
            height: pxToVw(156, 1920);

            &:nth-child(2n-1) {
                margin-right: pxToVw(20, 1920);
            }

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $quaternary-color;
                width: pxToVw(200, 1920);
                min-width: pxToVw(200, 1920);
                height: 100%;
            }

            span {
                font-family: Montserrat;
                font-size: pxToVw(22, 1920);
                font-weight: bold;
                margin: 0 pxToVw(20, 1920);
                color: $tertiary-color;
                text-transform: uppercase;
            }
        }
    }

    @media (max-width: 992px) {

        ul {
            flex-direction: column;
            margin-top: pxToVw(40, 375);

            li {
                width: 100%;
                height: pxToVw(120, 375);
                margin-bottom: pxToVw(20, 375);

                .img {
                    width: pxToVw(74, 375);
                    min-width: pxToVw(74, 375);

                    img {
                        width: pxToVw(60, 375);
                    }
                }

                span {
                    font-size: pxToVw(20, 375);
                    margin: 0 pxToVw(20, 375);
                }
            }
        }
    }
}