//Font Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

//Font OpenSans
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

// Override the Bootstrap defaults without modifying key, versioned files.
body {
    position: relative;
    font-family: 'OpenSans';
    margin: 0;
    width: 100%;
    height: 100%;

    &.disable-scroll {
        overflow: hidden;
        height: 100vh;

        .menu-items {
            overflow: auto;
            height: 100%;
            padding-bottom: pxToVw(86, 375);
        }
    }
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
li {
    transition: font-size 0.2s ease-in-out;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: inherit;
    }
}

*:focus{
    outline: none;
}

ol,
ul,
dl {
    padding: 0;
    margin: 0;
}

img {
    object-position: center;
    object-fit: cover;
    // width: 100%;
}

//Container
.container {
    padding: 0;
    max-width: pxToVw(1920, 1920);

    &.padding {
        padding: pxToVw(120, 1920) pxToVw(310, 1920);

        &.no-padding-bottom{
            padding-bottom: 0;
        }

        &.no-padding-top{
            padding-top: 0;
        }

        &.section-large-top-border {
            padding-top: pxToVw(60, 1920);
        }

        @media (max-width: 992px) {
            padding: pxToVw(40, 375) pxToVw(10, 375);

            &.section-large-top-border {
                padding-top: pxToVw(10, 375);
            }
        }
    }
}
.bg-gray {
    background-color: $gray2;
}

.session-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 pxToVw(200, 1920);

    @media (max-width: 992px) {
        margin: 0;
    }
}

.session-name {
    font-size: pxToVw(14, 1920);;
    font-weight: 300;
    text-align: center;
    // color: $tertiary-color;
    font-family: Montserrat;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: pxToVw(14, 375);
    }
}

.session-title {
    font-family: Montserrat;
    font-size: pxToVw(36, 1920);
    font-weight: bold;
    text-align: center;
    // color: $tertiary-color;
    margin: pxToVw(10, 1920) 0 pxToVw(20, 1920) 0;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: pxToVw(20, 375);
        margin: pxToVw(10, 375) 0 pxToVw(20, 375) 0;
    }
}

.session-description {
    font-family: OpenSans;
    font-size: pxToVw(16, 1920);
    line-height: 1.44;
    text-align: center;
    margin: 0 pxToVw(148, 1920);

    @media (max-width: 992px) {
        font-size: pxToVw(16, 375);
        // margin: 0 pxToVw(17, 375);
    }
}

.session-name,
.session-title,
.session-description {
    &.white {
        color: $white;
    }
    &.blue {
        color: $tertiary-color;
    }
}

.session-description {
    &.blue {
        color: $gray;
    }
}

.shadow {
    box-shadow: 0 pxToVw(3, 1920) pxToVw(29, 1920) 0 $black2 !important;

    @media (max-width: 992px) {
        box-shadow: 0 pxToVw(3, 375) pxToVw(29, 375) 0 $black2 !important;

    }
}

.shadow-box-hover {
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 pxToVw(3, 1920) pxToVw(29, 1920) 0 $black2;
    }

    @media (max-width: 992px) {
        // box-shadow: 0 pxToVw(3, 375) pxToVw(29, 375) 0 rgba(59, 74, 116, 0.14);
    }
}

.button-arrow-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: Montserrat;
        font-size: pxToVw(20, 1920);
        font-weight: bold;
        color: $quaternary-color;
        margin-left: pxToVw(10, 1920);
    }

    @media (max-width: 992px) {
        justify-content: flex-start;
        margin: pxToVw(55, 375) 0;

        button {
            font-size: pxToVw(20, 375);
            margin-left: pxToVw(10, 375);
        }
    }
}

div.circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 35px;
    left: 36px;
    background: $gray2;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
}

div.circle.expand {
    width: 1200px;
    height: 1850px;
    top: -560px;
    left: -565px;
    -webkit-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);

    background-color: $gray2;
    z-index: 3;
}

figure {
    margin: 0;
}

//modal classes
.modal-container {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    &.visible {
        opacity: 1;
        pointer-events: all;
        z-index: 20;
    }

    .modal-container-body {
        width: pxToVw(1300, 1920);
        z-index: 10;
        position: relative;
        background-color: $white;
        padding: pxToVw(80, 1920) pxToVw(100, 1920);

        -webkit-overflow-scrolling: touch;

        .modal-container-body {
            overflow: scroll;
            height: auto;
        }
    }

    @media (max-width: 992px) {
        padding: pxToVw(80, 375) 0;

        .modal-container-body {
            width: pxToVw(355, 375);
            height: auto;
            overflow: auto;
            padding: pxToVw(20, 375);

            .session-text {
                flex: 0 0 auto;
            }

            form {
                flex: 0 0 auto;
            }
        }

    }
}

.close-modal {
    position: absolute;
    top: pxToVw(-50, 1920);
    right: pxToVw(20, 1920);

    svg {
        height: pxToVw(20, 1920);
        width: pxToVw(20, 1920);
    }

    @media (max-width: 992px) {
        top: pxToVw(15, 375);
        right: pxToVw(20, 375);

        svg {
            width: pxToVw(20, 375);
            height: pxToVw(20, 375);
        }
    }
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    z-index: -1;

    @media (max-width: 992px) {
        height: 200vh;
    }
}

#resultsEmpty {
    width: 100%;
    text-align: center;
    display: block;
    font-family: Montserrat;
    font-size: pxToVw(20, 1920);
    font-weight: 300;
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: pxToVw(14, 375);
    }
}

//button scrollToTop
#scrollToTop {
    position: fixed;
    right: pxToVw(100, 1920);
    bottom: pxToVw(30, 1920);
    border: solid pxToVw(20, 1920) #64bee619;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    transition: opacity 0.3s;

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &.stucked {
        position: absolute;
        top: pxToVw(-62.5, 1920);
        height: pxToVw(105, 1920);
    }

    button {
        border-radius: 50%;
        width: pxToVw(65, 1920);
        height: pxToVw(65, 1920);
        background-color: $quaternary-color;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transform: rotate(180deg);
            width: pxToVw(14, 1920);
            height: pxToVw(8, 1920);
        }
    }

    &:hover {
        transform: scale(1.2);
    }
}

//hiddenOnMobile
.hidden-on-mobile {
    @media (max-width: 992px) {
        display: none !important;
    }
}

//hiddenOnDesktop
.hidden-on-desktop {
    @media (min-width: 992px) {
        display: none !important;
    }
}

.btn {
    padding: pxToVw(14, 1920) pxToVw(120, 1920);
    color: $white;
    font-family: 'Montserrat';
    font-size: pxToVw(20, 1920);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;

    &.blue{
        background-color: $primary-color;
        &:hover{
            color: $primary-color;
            background-color: $white;
            border: 1px solid $primary-color;
        }
    }

    &.light-blue {
        background-color: $quaternary-color;
        &:hover{
            color: $quaternary-color;
            background-color: $white;
            border: 1px solid $quaternary-color;
        }
    }

    &.dark-blue {
        background-color: $tertiary-color;
    }

    &.white {
        background-color: $white;
        border: 1px solid $quaternary-color;
        color: $quaternary-color;

        &:hover {
            color: $quaternary-color;
        }
    }

    &.small {
        padding: pxToVw(20, 1920) pxToVw(60, 1920);
    }

    &.disabled {
        background-color: $gray;
        color: $white;
        border: 1px solid $gray2;
        cursor: not-allowed;
        pointer-events: none;

        &:hover {
            background-color: $gray;
            color: $white;
            border: 1px solid $gray2;
        }
    }

    &:hover {
        color: $white;
        box-shadow: 0 pxToVw(8, 1920) pxToVw(12, 1920) 0 #00000026;
    }

    @media (max-width: 992px) {
        width: 100%;
        font-size: pxToVw(20, 375);
        padding: pxToVw(14, 375) pxToVw(119, 375);

        &.small {
            padding: pxToVw(20, 375) pxToVw(70, 375);
        }

        &:hover {
            box-shadow: 0 pxToVw(8, 375) pxToVw(12, 375) 0 #00000026;
        }
    }
}

.filters {

    .custom-select-filter {
        background-color: $gray2;
        width: pxToVw(310, 1920);
        border-radius: 2px;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            background: url(../img/arrow-down-gray.svg) no-repeat;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: pxToVw(36, 1920);
            width: pxToVw(14, 1920);
            height: pxToVw(8, 1920);
            display: block;
            z-index: 1;
            transition: all 0.2s ease-in-out;
        }

        &:first-child {
            margin-right: pxToVw(20, 1920);
        }

        .btn {
            padding: pxToVw(18, 1920) pxToVw(20, 1920);
            width: 100%;
            font-family: Montserrat;
            font-size: pxToVw(20, 1920);
            color: $gray;
            text-align: left;
            text-transform: uppercase;
            border-bottom: none;
            border: solid 1px $gray;
            font-weight: normal;
            white-space: normal;

            &::after {
                opacity: 0;
            }
        }

        .dropdown-menu {
            width: 100%;
            background-color: $gray;
            border: none;
            padding: 0;
            margin: 0;
            margin-top: pxToVw(-3, 1920);
            border-radius: 2px;
            border: solid 1px $gray;
            background-color: $gray2;
            border-top: none;
            min-width: auto;

            .dropdown-item {
                font-family: Montserrat;
                font-size: pxToVw(20, 1920);
                background-color: $gray2;
                text-transform: uppercase;
                font-weight: normal;
                padding: pxToVw(10, 1920) pxToVw(20, 1920);
                color: $gray;
                white-space: normal;

            }
        }
    }

    @media (max-width: 992px) {
        flex-direction: column !important;

        .custom-select-filter {
            width: 100%;
            margin: pxToVw(10, 375) 0;

            &:before {
                right: pxToVw(20, 375);
            }

            &:first-child {
                margin-right: 0;
            }

            .btn {
                padding: pxToVw(18, 375) pxToVw(20, 375);
                font-size: pxToVw(20, 375);
                white-space: normal;
            }

            .dropdown-menu {
                margin-top: pxToVw(-3, 375);

                .dropdown-item {
                    padding: pxToVw(18, 375) pxToVw(20, 375);
                    font-size: pxToVw(20, 375);
                    white-space: normal;
                }
            }
        }
    }
}

// .button.hidden-on-mobile {}

.btn-youtube {
    border: solid pxToVw(20, 1920) $black2;
    border-radius: 50%;

    &>div {
        background-color: $quaternary-color;
        border-radius: 50%;
        padding: pxToVw(40, 1920);
    }

    @media (max-width: 992px) {
        border: solid pxToVw(20, 375) $black2;

        &>div {
            padding: pxToVw(17, 375);
        }
    }
}

button {
    outline: none !important;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

//classes for hamburger mobile button
.btn-hamburger {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0px;
    cursor: pointer;
    background-color: #64bee6;
    border-radius: 2px;
}
.btn-left {
    background-color: #ffffff;
    position: absolute;
    height: 3px;
    width: 10px;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.btn-left:before {
    background-color: #ffffff;
    position: absolute;
    width: 10px;
    height: 3px;
    content: "";
    top: -10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.btn-left:after {
    background-color: #ffffff;
    position: absolute;
    width: 10px;
    height: 3px;
    content: "";
    top: 10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.btn-right {
    background-color: #ffffff;
    position: absolute;
    height: 3px;
    width: 10px;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.btn-right:before {
    background-color: #ffffff;
    position: absolute;
    width: 10px;
    height: 3px;
    content: "";
    top: -10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.btn-right:after {
    background-color: #ffffff;
    position: absolute;
    width: 10px;
    height: 3px;
    content: "";
    top: 10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
}
.active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}
.active .btn-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.active .btn-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}
.active .btn-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.active .btn-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
//classes for hamburger mobile button

//classes for a custom slick-slider
.slick-arrow-next,
.slick-arrow-prev {
    border: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30%;
    z-index: 1;

    &.sync {
        transform: rotate(180deg);
        top: 40%;
        left: pxToVw(5, 1920);
    }
}

.slick-arrow-next {
    transform: rotate(-90deg) translateY(-50%);
    right: pxToVw(-40, 1920);
    margin-right: pxToVw(-20, 1920);

    &.sync {
        transform: rotate(0);
        left: auto;
        right: 0;
    }
}

.slick-arrow-prev {
    transform: rotate(90deg) translateY(-50%);
    left: pxToVw(-40, 1920);
    margin-left: pxToVw(-20, 1920);
}
.slick-slide {
    margin-left: pxToVw(10, 1920);
    margin-right: pxToVw(10, 1920);

    @media (max-width: 992px) {
        margin-left: pxToVw(-30, 375);
        padding-right: pxToVw(50, 375);
    }
}

.slick-list {
    margin-left: pxToVw(-10, 1920);
    margin-right: pxToVw(-10, 1920);
    z-index: 2;

    @media (max-width: 992px) {
        //padding: 0 20px 0 0;
    }
}

.slick-track {
    padding: pxToVw(10, 1920) 0;
}

.slider {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.slider.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.slider .slider-item {
    display: none;
}

.slider .slider-item:first-child {
    display: block;
    visibility: hidden;
}

.slider.slick-initialized .slider-item {
    display: block;
    visibility: visible !important;
}
//classes for a custom slick-slider

.section-large-top-border {
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        top: pxToVw(-55, 1920);
        background-color: $white;
        height: pxToVw(60, 1920);
        margin: 0 pxToVw(310, 1920);
        left: 0;
        right: 0;
    }

    @media (max-width: 992px) {
        &::before {
            top: pxToVw(-20, 375);
            margin: 0 pxToVw(10, 375);
            height: pxToVw(20, 375);
        }
    }
}

.section-half-gray-background-reform-leader, .section-half-gray-background-slider-products {
    position: relative;

    &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $gray2;
        width: 100%;
        height: pxToVw(280, 1920);
        // height: pxToVw(350, 1440);
        z-index: -1;

        @media (max-width: 992px) {
            height: pxToVw(232, 375);
        }
    }
}

.section-half-gray-background-reform-leader {
    position: relative;

    &::after {
        height: pxToVw(323, 1920);

        @media (max-width: 992px) {
            height: pxToVw(232, 375);
        }
    }
}

.section-half-gray-background-slider-products {
    position: relative;

    &::after {
        height: pxToVw(520, 1920);

        @media (max-width: 992px) {
            height: pxToVw(218, 375);
        }
    }
}

.section-bottom-border {
    position: relative;
    // padding-bottom: pxToVw(240, 1920) !important;

    &::after {
        content: " ";
        position: absolute;
        height: 1px;
        background-color: $gray4;
        bottom: 0;
        margin: 0 calc((310 / 1920) * 100vw);
        left: 0;
        right: 0;
    }

    &.section-bottom-border-full-width {
        padding-bottom: pxToVw(120, 1920);

        &::after {
            margin-left: pxToVw(410, 1920);
            width: pxToVw(1080, 1920);
        }
    }

    @media (max-width: 992px) {
        &::after {
            margin: 0 calc((10 / 375) * 100vw);
        }

        &.section-bottom-border-full-width {
            padding-bottom: pxToVw(40, 375);

            &::after {
                margin: 0 auto;
                width: 95%;
            }
        }
    }
}

.tab-pane {
    position: relative;

    &>.button {
        margin-top: pxToVw(60, 1920);
    }

    @media (max-width: 992px) {

        &>.button {
            margin-top: pxToVw(60, 1920);

            a {
                width: 100%;

                button {
                    padding: pxToVw(18, 375) 0;
                }
            }
        }
    }
}

.session-text-no-margin-bottom {
    .session-text{
        margin-bottom: 0;
    }
}

form {
    width: pxToVw(640, 1920);
    flex-direction: column;
    position: relative;

    label {
        // display: flex;
        margin-bottom: pxToVw(20, 1920);

        font-family: Montserrat;
        font-size: pxToVw(20, 1920);
        color: $tertiary-color;
        text-transform: uppercase;

        &.error {
            opacity: 0.5;
            font-family: OpenSans;
            font-size: pxToVw(14, 1920);
            font-style: italic;
            color: $red;
            padding-left: pxToVw(20, 1920);
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("img/frontend/general/arrow-blue.svg");
        background-repeat: no-repeat;
        background-position-x: pxToVw(604, 1920);
        background-position-y: pxToVw(27, 1920);
    }

    input, select, textarea, #file-content-form-modal-work-with-us {
        margin-bottom: pxToVw(40, 1920);
        height: pxToVw(60, 1920);
        padding: 0 pxToVw(20, 1920);
        font-family: Montserrat;
        font-size: pxToVw(20, 1920);
        color: $tertiary-color;
        background-color: $gray2;
        border-radius: pxToVw(2, 1920);
        border: solid pxToVw(1, 1920) $gray4;

        &.error {
            margin-bottom: pxToVw(20, 1920);
        }

        &::placeholder {
            font-weight: 300;
            color: $gray;
        }
    }

    textarea {
        height: pxToVw(240, 1920);
        padding: pxToVw(20, 1920) pxToVw(20, 1920);
    }

    #file-content-form-modal-work-with-us.has-file {
        
    }

    .btn-submit {
        width: pxToVw(200, 1920);
        height: pxToVw(60, 1920);
        // padding: pxToVw(18, 1920) pxToVw(59, 1920) pxToVw(18, 1920) pxToVw(60, 1920);
        padding: 0;
        margin-top: pxToVw(40, 1920);
        transition: all 0.3s ease-in-out;

        font-family: Montserrat;
        font-size: pxToVw(20, 1920);
        font-weight: bold;
        text-align: center;
        color: $white;
        background-color: $primary-color;

        &.disabled {
            background-color: $gray;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    @media (max-width: 992px) {
        width: pxToVw(355, 375);

        label {
            margin-bottom: pxToVw(20, 375);

            font-size: pxToVw(20, 375);;
        }

        select {
            background-position-x: pxToVw(314, 375) !important;
            background-position-y: pxToVw(27, 375) !important;
        }

        input, select, textarea {
            margin-bottom: pxToVw(40, 375);
            height: pxToVw(60, 375);
            padding: 0 pxToVw(20, 375);

            font-size: pxToVw(20, 375);
            border-radius: pxToVw(2, 375);
            border: solid pxToVw(1, 375) $gray4;

            &.error {
                margin-bottom: pxToVw(20, 375);
            }
        }

        textarea {
            height: pxToVw(221, 375);
            padding: pxToVw(20, 375) pxToVw(20, 375);
        }

        .btn-submit {
            width: pxToVw(355, 375);
            height: pxToVw(60, 375);
            padding: pxToVw(18, 375) pxToVw(137, 375);
            margin-top: pxToVw(40, 375);

            font-size: pxToVw(20, 375);
        }
    }

}