$primary-color: #003c7b;
$secondary-color: #19477d;
$tertiary-color: #46617c;
$quaternary-color: #64bee6;
$quintenary-color:rgba(255, 255, 255, 0.1);
$gray: #7d7d7d;
$gray2: #f4f4f4;
$gray3: #ffffff19;
$gray4: #d1d1d6;
$gray5: #d8d8d8;
$white: #ffffff;
$black: #000000;
$black2: #3b4a7422;
$red: #FF0000;